@import './base.css';
@import 'tailwindcss';

#app {
  margin: 0;
  /* padding: 2rem; */
  /* font-weight: normal; */
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

p {
  font-size: 16px;
}

.section {
  padding-inline: calc(var(--spacing) * 12);
  margin-bottom: 20px;
}

.section h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

button:focus {
  outline: none;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
